# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# SQLite
*.db

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db
